.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  margin: 0 auto;
  padding: 0;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  box-sizing: border-box;
}

.page__header {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 100px;
  padding: 0;
}

.logo {
  margin: 0;
  padding: 0;
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url("../images/logo_place_header.svg");
}

.header__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 64px;
  padding: 0;
  display: flex;
  align-self: center;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.description {
  display: flex;
  margin: 100px auto;
  padding: 0;
  width: 80%;
}

.two_columns {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  list-style: none;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.digits {
  margin: 0;
  padding: 0;
}

.flex-column {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.section-title {
  margin: 0 auto 20px;
  padding: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 50px;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.table__heading {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:last-child {
  margin-bottom: 0;
}

.feynman {
  margin: 0;
  padding: 0;
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__image {
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.feynman__title {
  display: flex;
  margin: 0 auto 70px;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  z-index: 1;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.feynman__subtitle {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  position: relative;
}

.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  white-space: nowrap;
}

.kaufman {
  margin: 0 auto;
  padding: 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  display: flex;
  margin: 90px auto 20px;
  white-space: nowrap;
  z-index: 1;
  justify-content: center;
}

.section-subtitle_theme_dark {
  color: white;
  display: flex;
  margin: 0 auto;
  z-index: 1;
  justify-content: center;
}

.table_theme_dark {
  margin-bottom: 90px;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
}

.footer {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  margin: 60px auto 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  margin: 0;
  padding: 0;
  display: flex;
  background-image: url("../images/logo_place_footer.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 16px;
  margin-left: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.footer__social-icon {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}

.footer__column-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
