.khan__buy-link {
  margin: 0;
  padding: 0;
  line-height: 62px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  white-space: nowrap;
  opacity: 1;
  transition-timing-function: ease-in;
  align-self: start;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
